{{ define "title" }}pagina non trovata - {{ .Site.Title }}{{ end }}

{{ define "content" }}
<div class="not-found">
  <h1 class="error-emoji"></h1>
  <p class="error-text">/* 404 pagina non trovata. */</p>
  <p class="error-link"><a href="{{ "/" | relURL }}">↑ Back Home ↑</a></p>
</div>
<script>
  var errorEmojiContainer = document.getElementsByClassName('error-emoji')[0];
  var emojiArray = [
    '\\(o_o)/', '(o^^)o', '(˚Δ˚)b', '(^-^*)', '(≥o≤)', '(^_^)b', '(·_·)',
    '(=\'X\'=)', '(>_<)', '(;-;)', '\\(^Д^)/',
  ];
  var errorEmoji = emojiArray[Math.floor(Math.random() * emojiArray.length)];
  errorEmojiContainer.appendChild(document.createTextNode(errorEmoji));
</script>
{{ end }}
