{{ define "content" -}}

<article class="post bg-white">
    <!-- post-header -->
    <header class="post-header">
        <h1 class="post-title">{{ .Title }}</h1>
        {{ partial "post/i18nlist.html" . }}
        <div class="post-meta">
            
        </div>
    </header>
    
    <!-- TOC -->
    {{ partial "post/toc.html" . }}
    
    <!-- Content -->
    <div class="post-content">
        <ul>
            {{ range $name, $taxonomy := .Site.Taxonomies.province }}
            <li><a href="{{ $.Site.BaseURL }}province/{{ $name | urlize | lower  }}">{{$name}}</a> (numero albi: {{ $taxonomy.Count }})</li>
            {{ end  }}
        </ul>
    </div>
    
    <!-- Copyright -->
    <!--{{ partial "post/copyright.html" . }}-->
    
    <!-- Reward -->
    
    {{ partial "comments.html" . }}
</article>
{{- end }}
